extends layout

block content

  .post.container  
     .col-sm-12.col-md-6.col-md-offset-3
       form(action="/api/posts/"+post_id+"/comments", method="post")
        .form-group
            textarea.form-control(type="text", name="comment", placeholder="Comment", id="comment")
            input.form-control(type="text", name="author", placeholder="Author", id="author")
            button(type="submit", id="submit") Submit
     each value in data
      .col-sm-12.col-md-6.col-md-offset-3
        .thumbnail
          .caption
            p
              b id : 
              = value._id
            p 
              b timestamp : 
              = value.timestamp
            p 
              b author : 
              = value.author
            p
              b comment : 
              = value.comment
            p
              b post id : 
              = value.post_id