extends layout

block content

  .index
    .col-xs-12.col-md-6.col-md-offset-3
      form(action="/post", method="post")
        .form-group.a
          .signin
            input.form-control(type="text", name="title", placeholder="Title", id="title")
          .signin
            textarea.form-control(type="text", name="content", placeholder="Content", id="content")
          .signin
            input.form-control(type="text", name="author", placeholder="Author", id="author")
          .signin
            button(type="submit", id="login", disabled) Log In